body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
    background-color: #fed330;
  }
  
  .pos {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }


  .text {
      color:black;
      width:300px;
      text-align: center;
  }
  
  header, section, article, footer {
    margin: 10px;
    padding: 20px;
  }

  .navbar {
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 1px solid white;
    background-color: #3498DB;
  }

  .navbar ul {
    display: inline-block;
    justify-content: space-around;


  }

/* Dropdown Button */
.dropbtn, .ab, .inspo, .commcook, .petp, .submitcon {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
  



  .navbar li {
    display: inline;
    margin: 5px;
    justify-content: space-around;
    color: white;
  }

  h2 {
    
    text-align: center;
    

  }

  .gallery {
    display: flex;
    justify-content: space-between;
  }

  img {
    width: 300px
}

  .item {
    padding: 10px;
    width: auto;
    length: auto;
  }


  

  footer {
    display: flex;
    justify-content: center;
  }